.priceContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.element {
  display: flex;
  flex-direction: column;
  width: 272px
}

.description {
  text-align: center;
  min-height: 48px;
  text-overflow: ellipsis;
}
