.orderWrapper {
  width: 584px;
  height: 214px;
  border-radius: 40px;
  border: 2px;
  gap: 24px;
  background: #1c1c21;
  cursor: pointer;
}

.orderWrapperFromProfile {
  composes: orderWrapper;
  width: 844px;
  height: 246px;
}

.idWrapper {
  display: flex;
  justify-content: space-between;
}

.orderName {
  text-align: left;
  margin: 0;
}

.bottomWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.priceWrapper {
  display: flex;
}

.dateWrapper {
  display: flex;
}

.imagesWrapper {
  display: flex;
  list-style: none;
  margin: 0 0 0 16px;
  padding: 0;
}

.imageWrapper {
  background: linear-gradient(to top right, #800080, #0000ff);
  width: 64px;
  height: 64px;
  margin-left: -16px;
  border-radius: 50%;
  position: relative;
}

.imageBefore {
  position: absolute;
  left: 2px;
  top: 2px;
  background: rgb(0, 0, 0);
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.orderImageNumberWrapper {
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 0;
}

.orderImageNumber {
  width: 64px;
  position: absolute;
  margin: 20px 0 0;
  text-align: center;
  z-index: 3;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.opacity {
  position: absolute;
  left: 1px;
  top: 1px;
  width: 62px;
  height: 62px;
  background: rgba(0, 0, 0, 40%);
  border-radius: 50%;
  z-index: 2;
}
